.env
.git
.gitignore
.github
.omo
.vite
.vscode
node_modules
vendor
storage/app/public
storage/debugbar
storage/framework/cache/data
storage/framework/sessions
storage/framework/views
storage/logs
bootstrap/cache/*.php
docker-compose.yml
*.md
.editorconfig
phpunit.xml
phpstan.neon
pint.json
.gitattributes
