includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - config
        - database
        - routes
        - tests

    level: 5

    ignoreErrors:
        - '#Unused view data#'
        - '#PHPDoc tag @var#'
        - identifier: missingType.iterableValue
        - identifier: missingType.generics

    excludePaths:
        - ./*/*/File.php
        - ./*/*/FileGeneration.php
