parameters:
    level: 6
    paths:
        - app
        - config
        - routes
    excludePaths:
        - app/Providers/RouteServiceProvider.php
    scanFiles:
        - vendor/larastan/larastan/extension.neon
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
